## Variables

In [7]:
name= "Om"
age= 20
city= "Nagpur"

In [8]:
print(name)
print(age)
print(city)

Om
20
Nagpur

In [10]:
age= input("What is your age?")
print(age)

What is your age?20
20

In [11]:
first = int(input())
second = int(input())
print (first+second)

5
10
15

In [16]:
first = int(input())
second = int(input())
print (first+second)

2
3
5

In [18]:
name = "Tony Stark"
print(name.lower())
print(name.upper())

tony stark
TONY STARK

In [18]:
name = "Tony Stark"
print(name.lower())
print(name.upper())

tony stark
TONY STARK

# Elements in a list are seperated by comma and enclosed in square brackets

### Elements in a list are seperated by comma and enclosed in square brackets

### List are hetrogenous -> Multiple data types

### Lists can have duplicates

### Lists are mutable -> makes changes

# Tuples

### 1) Container Object
### 2) Heterogeneous -> allow multiple data types
### 3) Can have duplicates
### 4) Immutable -> cannot make changes
### 5) Elements are seperated by commas, enclosed in paranthesis or without any brackets

# Dictionary

### 1) Key-value pair
### 2) {}
### 3) Indexing Squared brackets
### 4) Mutable

In [20]:
dict_1= {'Name': "Om", 'Class': "11", 'Section': "C"}
print (dict_1.key())

AttributeError: 'dict' object has no attribute 'key'

In [21]:
dict_1= {'Name': "Om", 'Class': "11", 'Section': "C"}

In [22]:
dict_1

{'Name': 'Om', 'Class': '11', 'Section': 'C'}

In [23]:
dict_1= {'Name': "Om", 'Class': "11", 'Section': "C"}
print (dict_1.keys())

dict_keys(['Name', 'Class', 'Section'])

In [24]:
dict_1 ['Class']

'11'

In [26]:
dict_1 ["C"]

KeyError: 'C'

In [27]:
dict_1 ['Name'] = "Mohan"

In [28]:
dict_1 ['Name']0

'Mohan'

In [29]:
dict_1.values()

dict_values(['Mohan', '11', 'C'])

In [1]:
sample_set= {1,2,3,8,2.5,95.2,32.5, "hi", "dear", "no", "apple", -1, -8.54}

In [2]:
sample_set

{-1, -8.54, 1, 2, 2.5, 3, 32.5, 8, 95.2, 'apple', 'dear', 'hi', 'no'}

In [5]:
Age = int(input())

if Age >= 18:
    print ("Eligible")
else:
    print ("Not Eligible")

15
Not Eligible

### Calculator

In [6]:
a= int(input())
b= int(input())

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

5
10
15
-5
50
0.5
9765625
0
5

In [16]:
A = int(input("Enter a number:"))
operation= input("Enter operator (+,-,*,/):")
B = int(input("Enter a number:"))

if operation == "+":
    print (A+B)
elif operation == "-":
    print (A-B)
elif operation == "*":
    print (A*B)
elif operation == "/":
    print (A/B)
    
else:
    print ("Invalid operation")

Enter a number:20
Enter operator (+,-,*,/):/
Enter a number:4
5.0